WcfServiceClient2/Connected Services/ServiceReference5/AsyncComplexCalc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8053/AsyncComplexCalc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncCallbackService" />
  <xs:element name="AddComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsyncCallbackService" minOccurs="0" name="number1" nillable="true" type="q1:AsyncComplexNumber" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AsyncCallbackService" minOccurs="0" name="number2" nillable="true" type="q2:AsyncComplexNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AsyncCallbackService" minOccurs="0" name="number1" nillable="true" type="q3:AsyncComplexNumber" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AsyncCallbackService" minOccurs="0" name="number2" nillable="true" type="q4:AsyncComplexNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AsyncCallbackService" minOccurs="0" name="result" nillable="true" type="q5:AsyncComplexNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>