WcfServiceClient2/Connected Services/ServiceReference5/AsyncComplexCalc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AsyncCallbackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AsyncCallbackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AsyncComplexNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImaginaryValue" type="xs:double" />
      <xs:element minOccurs="0" name="RealValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsyncComplexNumber" nillable="true" type="tns:AsyncComplexNumber" />
</xs:schema>